h2{
  text-align: center;
}

ion-card{
  height: 150px;
  width: auto;
}

 #brand{
     font-weight: bold;
     margin-left: 35px;
     font-size: 180%;
  }

  .text-center1{
    background-color: lime;
    color: white;
  }

  .text-center2{
    background-color: palevioletred;
    color: white;
  }

  .text-center3{
    background-color: rgb(37, 37, 129);
    color: white;
  }

  .text-center4{
    background-color: violet;
    color: white;
  }


 ion-icon {

         font-size: 70px;
        align-content: center;

     //Preferred size here
 }



.sidenav {
  height: 100%;
  width:350px;
  position: fixed;
  z-index: 1;
  top: 2;
  left: 0;
  background-color:rgb(8, 8, 97);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}
h4{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.sidenav a:hover {
  color: #F1F1F1;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
